<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WPS</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <Icon Name="IconName.Clouds" Size="IconSize.x3" />&nbsp; Weather 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <Icon Name="IconName.PersonVCard" Size="IconSize.x3" />&nbsp;Login 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="select_opd">
                <Icon Name="IconName.Hospital" Size="IconSize.x3" />&nbsp;OPD
            </NavLink>
        </div>
    </nav>
</div>

