@page "/input_detail"

<div class="row">
    <div class="col-lg-4 offset-lg-4 pt-4 pb-4 border">
        <div class="mb-3">
            <label >วันที่</label>
              <input type="datetime-local" id="birthdaytime" name="birthdaytime">
        </div>
        <div class="mb-3">
            <label>HN/ID</label>
             <input type="text" class="form-control" >
        </div>
        <div class="mb-3">
            <label >จุดรับ</label>
             <input type="text" class="form-control" >
        </div>
        <div class="mb-3">
            <label >จุดส่ง</label>
             <input type="text" class="form-control" >
        </div>
        <div class="mb-3 d-grid gap-2">
            <button>OK</button>
            <button>Edit</button>
        </div>
    </div>
</div>